ol,
ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 80px;
  font-weight: bold;
  line-height: 34px;
  height: 120px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 120px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
  background-color: #bee3ff;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 50px);
}

.game-info {
  margin-left: 20px;
  vertical-align: top;
  height: 380px;
  width: 210px;
}
.game-info > div:first-child {
  font-size: 30px;
  color: red;
}

.game-step {
  font-size: 18px;
  color: #808080;
}
